.card {
    position: relative;
    height: 450px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    border: 0px;
    box-shadow: 0 1px 2px darkgray;

    &:hover {
        box-shadow: 1px 2px 3px dimgray;
    }

    .card-img-top {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        .card-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .prices {
                display: flex;
                flex-direction: row;
                justify-content: center;
                
                .old-price {
                    text-decoration: line-through;
                    font-size: 0.9em;
                    color: red;
                }
                
                .sale-price {
                    color: orange;
                    margin-left: 10px;
                }
            }
        }
    }
    .heart-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: rgba(245, 245, 245, 0.704);
        border-radius: 50%;
        font-size: 1rem;
        padding: 15px;

    }

    .isLiked {
        color: red;
    }
}

.badge {
    position: absolute; 
    top: 20px; 
    border-radius: 0 5px 5px 0;
    left: 0; 
    background-color: rgba(255, 166, 0, 0.792); 
    color: white; 
    padding: 5px 20px;  
    z-index: 1;
}