nav{
    background-color: orange;
}

.navbar-nav {

    .nav-item {
        margin-left: 50px;
        
    }
} 

button{
    border: 1px solid black;

    &:hover {
        color: white;
        background-color: orange;
        border: 1px solid white;
    }
}
