<footer class="text-center text-white">

  <div class="container p-4">
   
    <section class="mb-4">
     
      <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <a mdbRipple class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

    <section>
       
        <div class="row d-flex justify-content-center text-dark">
        
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
      
          <div class="col-md-5 col-12">
        
            <form class="form-white mb-4">
              <input mdbInput type="email" id="form5Example24" class="form-control" placeholder="Email adress"/>
            </form>
          </div>

          <div class="col-auto">
          
            <button mdbRipple type="submit" class="btn btn-outline-dark mb-4">
              Subscribe
            </button>
          </div>
        
        </div>
     
    </section>

   </div>

  <div class="text-dark text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-dark" style="cursor: pointer;">ComponentsLand</a>
  </div>
 
</footer>
